---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="MSSS2023">
    <main style="text-align: center">
        <!-- how to set the background colour, for individual elements, use
        the same style command-->
       <!-- <h1><span>Mount Stromlo Student Seminars 2023</span></h1>-->
       <section id="logo">
        <img class="logopic" src="/msss2023/logo_whole_transparent.png" alt="MSSS2023 Logo">
    </section> 
        <div>
            <br>
            </br>
        </div>
        <section id="Menu">
            <a href="#info" class='button'><img src="/msss2023/information_button.png" width="75" alt="images"></a>
            <!--<a href="#keydates" class='button'><img src="/msss2023/key_dates_button.png" width="75" alt="images"></a> -->
            <a href="/msss2023/registration/" class='button'><img src="/msss2023/registration_button.png" width="75" alt="images"></a>
            <a href="/msss2023/program/" class='button'><img src="/msss2023/program_button.png" width="75" alt="images"></a>
            <a href="/msss2023/participants/" class='button'><img src="/msss2023/participants_button.png" width="75" alt="images"></a>
        </section>

            <section id='info' style="background-color:rgba(0,0,0,0.5);">
                <h2 style="text-align:center"><span style="color: #FDDDA5; "> About MSSS2023 <br></span></h2>
                <p><span style="color: #FDDDA5; "> The ANU Research School of Astronomy and Astrophysics (RSAA) is proud
                    to present the Mount Stromlo Student Seminars 2023 (MSSS2023)! <br>
                    MSSS2023 is a <b>free, fully-catered 3 day student-led conference</b> held at Mount Stromlo Observatory from the 8-10 November. <br>
                    This year's theme is <b>"Colours of the Universe"</b>. <br>
                    This year we invite students from around Australia to join us and present their research and/or themed talks. <br>
                    Some examples of previous talks are: astronomy murder mystery,
                    using magnesium isotopes for time travel, how to print "Hello World!" in 33 easy steps and
                    studying metallicity gradients of galaxies.
                </span></p>
                <h2 style="text-align:center"><span style="color: #FDDDA5; "> Event Information <br></span></h2>
                <p><span style="color: #FDDDA5; "> MSSS2023 is a free-to-attend, catered event organised by students of the RSAA. <br>
                    It is not required for attendees to present a talk, though it is encouraged.
                    Student talks will be <b>15 minute presentations plus 5 minutes Q&A</b>.
                    There will be prizes for the best science talk, themed talk and overall best as voted by attendees. <br>
                    We will be having a Panel Q&A with a variety of academics.
                    If you think of any questions to ask them, write them down and you can submit them during the event or via
                    <a style="color: #FDDDA5; " href="https://docs.google.com/forms/d/e/1FAIpQLSffxACsd2UrLTamUKFW_IwLjFxrrTJaghAWlCLHHPkXIfIyDA/viewform?usp=sf_link" ><b>this form</b>.</a> <br>

                    There is no public transport up to Mount Stromlo Observatory,
                    though we will organise transportation from ANU main campus for those who require it (one round-trip per day).
                    Please let us know in the registration form if you will be requiring this transport, otherwise you are more than welcome to drive. <br>
                    If you have further questions please contact us via the
                    <a style="color: #FDDDA5; " href="https://docs.google.com/forms/d/e/1FAIpQLSf7ZXfUXscKkvgXRaMlwVJqz550lU6GaLd8oVvHUIBo0EH4vg/viewform?usp=sf_link" ><b>Contact Form</b>.</a>
                </span></p>
                <h2 style="text-align:center"><span style="color: #FDDDA5; "> Key Dates <br></span></h2>
                <p><span style="color: #FDDDA5; "> <b>Registration closes</b> : Friday 20 October <br>
                    <b>Abstracts due </b> : Friday 27 October <br>
                    <b>Presentations finalised </b> : Wednesday 1 November <br>
                    <b>MSSS2023 event </b> : Wednesday 8-10 November
                </span></p>
                <h2 style="text-align:center"><span style="color: #FDDDA5; "> Code of Conduct <br></span></h2>
                <p><span style="color: #FDDDA5; "> Please behave professionally during the event and follow the
                    <a style="color: #FDDDA5; " href="https://services.anu.edu.au/human-resources/respect-inclusion/code-of-conduct" ><b>ANU Code of Conduct</b>.</a>
                </span></p>

                <h2 style="text-align:center"><span style="color: #FDDDA5; "> Acknowledgements <br></span></h2>
                <p><span style="color: #FDDDA5; "> We acknowledge and celebrate the First Australians on whose traditional lands we meet,
                    the Ngunnawal and Ngambri people
                    and pay our respect to their elders past, present and emerging. We extend this respect to
                    Aboriginal and Torres Strait Islander peoples attending our event. <br>
                    We would also like to acknowledge funding provided by the ANU Research School of Astronomy and Astrophysics (RSAA).
                </span></p>
                <section id="anu_logo">
                    <img class="logopic" src="/msss2023/anu_logo.png" alt="ANU Logo">
                </section> 

            </section>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: vw;
        align-items: center;
        align-content: center;
        background-size: 100% 100%;
        background-image: url("/msss2023/MSSS2023_PosterArt.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
        color: #FDA5A5;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0;
    }

    body {
        flex-basis: 100%;
        font-size: small;
    }

    p {
        font-size: 1rem;
        text-align: center;
    }

    .button {
        background-color: rgba(0, 0, 255, 0);
        font-size: medium;
        cursor: pointer;
        text-align: center;
        -webkit-text-fill-color: rgba(0, 0, 255, 0);
        margin: 5px;
        justify-content: space-between;
    }

    .logopic{
        display: block;
        height: auto;
        align-items: center;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (max-width: 600px) {
                .logopic {
                  max-width:50%
                }
              }
    @media only screen and (min-width: 601px) {
    .logopic {
        max-width:30%
    }
    }

    .anyofimgclass{
        display: block;
        max-width: 100%;
        height: auto;
    }

    div {
        display: block;
        text-align: center;
        height: 10px;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0;
    }

    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }

    .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }

    .instructions strong {
        color: rgb(var(--accent));
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
