---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="MSSS2023">
    <main style="background-color:#000000">
        <!-- Keep the header, and buttons the same for all pages-->
        <h1><span>Mount Stromlo Student Seminars 2023</span></h1>
        <section id="Menu">
            <a href="/msss2023/" class='button'><img src="/msss2023/information_button.png" width="75" alt="images"></a>
            <!--<a href="#keydates" class='button'><img src="/msss2023/key_dates_button.png" width="75" alt="images"></a> -->
            <a href="/msss2023/registration/" class='button'><img src="/msss2023/registration_button.png" width="75" alt="images"></a>
            <a href="#program" class='button'><img src="/msss2023/program_button.png" width="75" alt="images"></a>
            <a href="/msss2023/participants/" class='button'><img src="/msss2023/participants_button.png" width="75" alt="images"></a>
        </section>
        <div>
            <br>
            </br>
        </div>
        <section id="logo">
            <img src="/msss2023/MSSS2023_PosterArt.png" alt="MSSS2023 Logo" width=500ch>
		</section>
            <section id='program'>
                <h2><span style="color: #A5ADFD; ">Program</span></h2>
                <p><span style="color: #A5ADFD; ">The program.</span></p>
            </section>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 200ch;
        align-items: center;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
        color: #FDA5A5;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0;
    }

    body {
        flex-basis: 100%;
        font-size: small;
    }

    p {
        font-size: 1rem;
        text-align: center;
    }

    .button {
        background-color: rgba(0, 0, 255, 0);
        font-size: medium;
        cursor: pointer;
        text-align: center;
        -webkit-text-fill-color: rgba(0, 0, 255, 0);
        margin: 5px;
        justify-content: space-between;
    }

    div {
        display: block;
        text-align: center;
        height: 10px;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0;
    }

    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }

    .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }

    .instructions strong {
        color: rgb(var(--accent));
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
